.imagem{
    padding-right: 400px;
    height: 160px;
}
input{
    background-color: #EEE;
    width: 400px;
    padding: 10px; 
    border-radius: 10px;
    outline: none;
}

.element{
    background-color: orangered;
    height: 60px;
    width: 40px;


}